# SUPPORT VECTOR MACHINES

SVM aplicado ao sistema de classificação, embora seja um algoritmo potente em problemas de regressão.

Visando separar classes por uma linha reta, ou classes linearmente separáveis.

Dataset = Iris Flowers

In [8]:
from sklearn.datasets import load_iris
import pandas as pd
#import seaborn as sns

In [9]:
#Transformando os dados em um DataFrame
iris = load_iris()
df_iris = pd.DataFrame(data=iris.data, columns= iris.feature_names)
df_iris['label'] = iris.target
df_iris['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)
df_iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label,species
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [ ]:
#Plotagem em pares